.home_page {
  display: flex;
  flex-direction: column;
}
.container .container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hover_border .container .category_top a {
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.container .category_top a:hover {
  border-bottom: 3px solid #041e42;
}

/* Pagination*/
.container .product_pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .product_pagination_box .product_pagination_main {
  width: 160px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .product_pagination_main .pagination_dot {
  display: flex;
  flex-direction: row;
}

.pagination_dot img {
  cursor: pointer;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pagination_dot .dot.active {
  border: 2px solid black;
  border-radius: 50%;
}
.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

.container .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background-color: black;
}
/*Headder*/

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  width: 875px;
  height: 508px;
  padding: 15px;
  background-color: blue;
  background-image: url("/public/images/icons/header_bg.svg");
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  height: 152px;
  color: var(--Bg-White, #fff);
  font-family: Jost;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_frame .header_content p {
  margin-top: 10px;
  color: var(--Bg-White, #fff);

  /* 16/Regular */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  left: 350px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-top: 50px;
  margin-left: 30px;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .box_left span {
  color: #0053f6;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header_frame .box_left p {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_frame .box_left a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .box_left .hover_border {
  margin: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

.header_frame .box_right2 {
  width: 241.371px;
  height: 249px;
  flex-shrink: 0;
}
/*Service*/

.homepage .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 70px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.service_frame .service_content p {
  color: var(--Color-Text-Light, #626974);

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/*Shop Category*/

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .cantainer {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_imagebox {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  border: 1px solid var(--Color-Border, #eaeaea);
}

.category_box span {
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/*Selling Product Frame*/

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin: top 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .next_prev_product {
  width: 25px;
}

.selling_product_frame .next_prev_box {
  position: relative;
  top: 30%;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;

  color: #626974;
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
  margin-top: 20px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  width: 260px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  border-radius: 6px;
  background: #0053f6;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);

  color: var(--Bg-White, #fff);
  font-family: "Jost";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
  color: var(--Color-Text-Light, #626974);
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc {
  height: 56px;
  overflow: hidden;
  color: var(--Color-Text-Dark, #041e42);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .review_box img {
  margin-right: 5px;
}

.selling_product_frame .review_box span {
  margin-left: 10px;
  color: #626974;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.selling_product_frame .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.selling_product_frame .price_box span {
  color: var(--Color-Text-Light, #626974);
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: strikethrough;
  margin-left: 10px;
}

.homepage .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  color: #0053f6;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Spec_product_frame*/

.homepage .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_product_frame a {
  position: relative;
}
.spec_product_frame .container {
  flex-direction: column;
}

.container .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_wrapper .big_product_box {
  position: relative;
  width: 664px;
  height: 368px;
  padding: 30px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: #f3f5f6;
}

.big_product_box .big_product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big_product_content span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.big_product_content p {
  margin-top: 10px;
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.big_product_content a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.big_product_box img {
  width: 322px;
  height: 309px;
  position: absolute;
  right: 5%;
}

.spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.small_product_wrapper .small_product_box {
  padding: 30px;
  width: 293px;
  height: 170px;
  position: relative;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background-color: #f3f5f6;
  border-radius: 6px;
}

.small_product_box:nth-child(odd) {
  margin-right: 30px;
}

.small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}

.small_product_wrapper strong {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.small_product_wrapper span {
  color: var(--Color-Text-Light, #626974);
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.small_product_box img {
  position: absolute;
  right: 30px;
  top: 40px;
  margin-top: 20px;
}
